<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="text-center pt-4 d-flex flex-wrap align-items-center justify-content-center px-2">
    <div class="w-lg-70">
        <div>
            <h2 class="fs-1 py-3">Welcome to</h2>
            <p class="fs-4">our Angular GitHub User Search project, a dynamic web application that combines the power of
                Angular, RxJS, and
                NgRx to deliver a seamless and efficient experience for searching GitHub users.</p>
        </div>
        <div class="py-3 ">
            <a routerLink="search" class="btn fs-5 d-flex align-items-center">
                <span class="d-block">Lets Start</span>
            </a>
        </div>
        <div class="text-start py-3">
            <p class="fw-bold fs-3">Key Features:</p>
            <ul>
                <li class="py-1">
                   <span class="fw-bold"> GitHub User Search: </span>  Our application allows you to search for GitHub users effortlessly. Just type a
                    username in the search bar, and our application fetches the relevant user information in real-time.
                </li>
    
                <li class="py-1">
                    <span class="fw-bold"> Asynchronous Operations: </span>   We leverage RxJS, a powerful library for reactive programming, to handle
                    asynchronous operations. This ensures a smooth and responsive user experience while fetching data from
                    GitHub's servers.
                </li>
    
                <li class="py-1">
                    <span class="fw-bold"> State Management with NgRx: </span>  Managing application state is a breeze with NgRx. We use NgRx to store and
                    manage the application's data, making it easy to keep track of user search results and maintain a
                    consistent user interface.
                </li>
            </ul>

        </div>


    </div>
</div>