

<div *ngIf="users.length > 0">

  <div *ngFor="let user of users" class="d-flex align-items-center px-3 shadow py-3 border-radius-20 bg-card mb-4" >
    <div class="avatar-width mx-4">
      <img src="{{user.avatar_url}}" width="100%" alt="{{user.login}}">
    </div>
    
    <div>
      <div>
        <h2>{{user.login}}</h2>
      </div>
      <div>
        <a href="{{user.html_url}}">{{user.html_url}}</a>
      </div>
    </div>
  </div>
</div>


  <div class="w-100 text-center fw-bold" *ngIf="users.length == 0">
     No Users Found
  </div>